body {
    display: flex;
}

.agent-assistant {
    flex: 1;
}

.suggest-container {
    margin: 10px;
}

.agent-assistant .container {
    position: fixed;
    top: 48;
}

.agent-assistant a{
    color: #FF4F1F;
}

.agent-assistant a:hover{
    text-decoration: underline;
}

.agent-assist {
    width: 100%;
}

.english-container {
    width: 50%;
    float: left;
    padding: 5px;
    
    @media (max-width: 250px){
        height: 100px;
    }

    @media (min-width: 500px){
        height: 100px;
    }
}

.translated-container {
    margin-left: 50%;
    padding: 5px;
    
    @media (max-width: 250px){
        height: 100px;
    }
}